.header {
    width: 100%;
    height: 100px;
    
    &__logo {
        position: relative;
        text-align: center;
        font-family: $header-font;
        font-size: $big-font;
        padding-top: 30px;
        color: $gray-color;

        @include queries(larger){
            font-size: 3em;
        }

        @include queries(small){
            font-size: 2.5em;
        }
    }
}