.calc {

    &__box {
        width: 420px;
        height: 440px;
        margin: auto;
        text-align: center;
        background-image: radial-gradient(ellipse farthest-side at center top, $calc-secondary 10%, $calc-main 130%);
        box-shadow: 0px 0px 70px -2px rgba(0,0,0,1);
        border-bottom: 20px solid $calc-vertical-border;
        border-top: 20px solid $calc-vertical-border;
        border-right: 10px solid $calc-horizontal-border;
        border-left: 10px solid $calc-horizontal-border;
        border-radius: 15px;
    }
        
    &__header {
        font-family: $header-font;
        font-size: 1.5em;
        padding-top: 10px;
        color: $gray-color;
    }

    &__panel {
        width: 100%;
        margin: 10px auto;

        &:after {
            content: "";
            display: block;
            clear: both;           
        }
    }   
}